@use "../utils" as *;

.editor {
    width: 100%;
    border: none;
    resize: none;
    font-family: var(--font-serif);
    font-weight: 600;
    line-height: 145%;
    letter-spacing: 4;
    font-size: rem(16);
    background: transparent;
    animation: day-progress-front 86400s steps(1, end) infinite;
    animation-delay: var(--offset);

    &:focus {
        outline: none;
    }
}
