@use "../utils" as *;

.editor {
    width: 100%;
    border: none;
    resize: none;
    font-family: var(--font-mono);
    font-size: rem(16);
    line-height: 175%;
    background: transparent;
    animation: day-progress-front 86400s steps(1, end) infinite;
    animation-delay: var(--offset);

    &:focus {
        outline: none;
    }
}
