@use "../utils" as *;
.nav {
    order: -1;
    font-family: var(--font-sans);

    &__create {
        width: 100%;
        margin: 0;
        padding: rem(8) rem(12);
        font-size: rem(16);
        color: rgb(var(--white));
        background: rgb(var(--blue-600));
        border: none;
        border-radius: rem(8);

        &:hover {
            cursor: pointer;
            background: rgb(var(--blue-500));
        }

        &:focus {
            transform: scale(.95);
        }
    }
}
