@use "../utils" as *;

.note {
    max-width: 80ch;
    padding: rem(40) min(5vw, rem(40));
    font-size: rem(18);
    font-family: var(--font-serif);
    color: #44403B;

    p {
        line-height: 150%;
    }

    &__title {
        display: block;
        font-size: rem(32);
        margin: 0;
        font-weight: bold;

        &--edit {
            font-family: var(--font-mono);
            border: none;
            background: #fafaf9;
            color: #44403B;

            &:focus {
                outline: none;
            }
        }
    }

    &__content {
        img {
            width: min(100%, rem(540));
        }
    }
}
