@use "reset";
@use "utils" as *;
@use "vars";

html {
    transition: background 150ms ease-out;

    &:has(.design__theme:checked) {
        background: rgb(var(--black));
    }
}

.design {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: rem(40);
    padding: rem(8);

    &:has(.design__theme:checked) {
        .design {
            &__text,
            &__link {
                color: rgb(var(--white));
                transition: color 150ms ease-out;
            }

            &__toggle {
                background: rgb(var(--white), .25);

                &:before {
                    transform: translateX(rem(32));
                }
            }

            &__add {
                background: rgb(var(--white), .25);
            }
        }
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        gap: rem(32);
        margin-top: rem(16);
        margin-left: rem(16);
        margin-right: rem(16);
    }

    &__actions {
        display: flex;
        justify-content: space-between;
    }

    &__toggle {
        display: flex;
        width: rem(72);
        height: rem(40);
        background: rgb(var(--black), .25);
        border-radius: rem(999);
        align-items: center;
        padding: rem(4);

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: "";
            display: flex;
            width: rem(32);
            height: rem(32);
            border-radius: 50%;
            background: rgb(var(--white));
            transition: transform 100ms ease-out;
        }
    }

    &__add {
        display: flex;
        width: rem(40);
        height: rem(40);
        background: rgb(var(--black), .25);
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: "+";
            font-size: rem(24);
            color: rgb(var(--white));
            border-radius: 50%;
            transition: transform 100ms ease-out;
        }
    }

    &__intro {
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }

    &__text {
        max-width: rem(540);
        font-family: var(--font-sans);
        font-weight: bold;
        font-size: rem(24);
        line-height: 120%;
        text-wrap: pretty;
    }

    &__link {
        color: rgb(var(--black));
    }

    &__images {
        display: grid;
        gap: rem(8);
        flex: 1;
    }

    &__image {
        width: 100%;
        border-radius: rem(8);
    }

    @media screen and (min-width: rem(540)) {
        &__images {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (min-width: rem(780)) {
        &__images {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media screen and (min-width: rem(1020)) {
        flex-direction: row;

        &__sidebar {
            width: rem(320);
            margin-left: rem(32);
            margin-right: rem(32);
        }

        &__actions {
            position: fixed;
            top: rem(40);
            width: rem(320);
        }

        &__intro {
            position: fixed;
            bottom: rem(40);
            width: rem(320);
        }

        &__images {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (min-width: rem(1200)) {
        &__images {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media screen and (min-width: rem(1440)) {
        &__images {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
